menu "Bunny Cam"

    config WIFI_SSID
        string "WiFi SSID"
        default "myssid"
        help
            SSID of the WiFi network to connect to.

    config WIFI_PASSWORD
        string "WiFi password"
        default "mypassword"
        help
            Password for the WiFi network.

    config UPLOAD_SECRET
        string "Upload secret"
        default ""
        help
            Shared secret for the webcam upload API.

endmenu
